body{
    font-family: Verdana, sans-serif;
    background-color: rgb(23, 122, 122);
    color: rgb(162, 229, 229);
}

header{    
    text-align: center;
}
#paragrafos{
    width: 800px;
    margin: auto;
    
}

#linha{
    height: 3px;
    background-color:rgb(162, 229, 229);
}

main{
    text-align: center;
}